**/showyourwork/
.idea/
**/__pycache__/
*.png
*.dat
.idea
/.idea
*.dat
*.csv
*.xlsx
*.class
**/test files/
**/test_files/*
*temp_note.txt

**/build/*
**/win64releasebuild/*
**/data/*
homebrew origin/monthly/MonthlyCleaner
homebrew origin/monthly/MonthlyGrapher.exe

