**/showyourwork/
.idea/
**/__pycache__/
*.png
*.dat
.idea
/.idea
*.dat
*.csv
*.xlsx
*.class
**/test files/
*temp_note.txt

**/build/*
**/data/*
multi_platform_projects/homebrew origin/monthly/Monthly*
